// Specific CSS for your home-page

//BACKGROUND HOMEPAGE
.homepage {
  height: 100vh;
  background-image: url(Evaluat3d.jpg);
  background-size: cover;
}

.logo_homepage {
  height: 185px;
  margin-top: 145px;
  left: 0px;
  right: 0px;
  top: 215px;
}

// creation du style SIGN IN sur la home page par Geo
.sign_in_homepage {
  font-family: 'Baloo Chettan 2', cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 35px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;

}

.sign_in_homepage:hover {
      text-decoration: none;
      color: #A7A9BE;
    }
