// Specific CSS for your home-page

//BACKGROUND HOMEPAGE
.homepage {
  height: 100vh;
  background-image: url(Evaluat3d.jpg);
  background-size: cover;
}

.logo_homepage {
  height: 185px;
  margin-top: 145px;
  left: 0px;
  right: 0px;
  top: 215px;
}

// creation du style SIGN IN sur la home page
// .sign_in_homepage {
// margin-top: 350px;

// font-family: 'Baloo Chettan 2', cursive;
// font-style: normal;
// font-weight: normal;
// font-size: 24px;
// line-height: 35px;
// text-align: center;

// color: #FFFFFF;
// }
