<h1>ROOMS FORM</h1>
<p> Description </p>

<%# Méthode affichage Room.type %>
<% RoomType::ROOM_TYPES.each do |type| %>
<%= type %>
<% end %>

<%# A SUPPRIMER DANS UN SECOND TEMPS %>
<%= link_to 'back', new_move_path %>


<%= link_to 'next', rooms_list_move_path %>
