<h1>DETAILS</h1>
<p>description</p>
<%@hash_cartons_by_room.each do |key, value|%>
<%= link_to "#{key.name} #{value}", '#', class: 'btn btn-dark' %>
<% end  %>
<br><br>
<%= "Il vous faudra #{pluralize(@cartons, 'carton')}" %>
