<div class="container-image-centered">
  <%= image_tag("Background_full.svg", :class => "full-background-contact")%>

<div class="my-container front" style="position: relative;">
  <div class="container d-flex justify-content-center">
    <%= image_tag("logo_Evaluat3d.svg", :class => "logo-find-mover")%>
  </div>

  <div class="my-container d-flex flex-column align-item-center justify-content-center">
    <div class="find-mover" style="display: flex; justify-content: center; width: 100vw;">
      <div class="slogan" style="position: absolute;top: 12vh;">
        <h1>EVALUAT3D</h1>
        <h2>ça déménage !</h2>
      </div>

      <div class="presentation" style="position: absolute; top: 45vh;">
        <h3>Women Coders</h3>
        <h4>Georgia - Lilia - Isabelle -Maewenn</h4>
      </div>
    </div>
  </div>

</div>

</div>
