
  <div class="container-image-centered">
    <%= image_tag("Background_top.svg", :class => "background-top")%>
  </div>

  <div class="my-layout-container">
    <div class="front-content card-form form-new-moves">
      <H1> VOTRE PROJET </H1>
      <p>On vous accompagne de A à Z ! <p>

      <%= render 'form_new_move', move: @move %>

      <%= link_to 'back', root_path %>
    </div>
  </div>
