<h1>RECAP</h1>
<p>description</p>
<%= "Volume total : #{@volume_total} m3" %>
<br><br>
<%@recap.each do |key, value|%>
<%= "#{key} #{value}m3"%>
<br>
<% end %>
<%= link_to 'next', details_move_path %>
