<div class="container-image-centered">
  <%= image_tag("Background_top.svg", :class => "background-top")%>
</div>

<div class="text-pages-top">
    <h1 class="title-white">VOTRE TRAJET</h1>
</div>

<div class="card-form-new-move form-new-moves">
  <div class="details-show" style="text-align: center">
    <h1> Carte et Itinéraire </h1>
  </div>

  <div id="map"
    style="width: 100%; height: 350px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>

  <div id="instructions">
  </div>
</div>
