<div class="my-container">
  <div class="homepage">

  <div class="container d-flex justify-content-center">
    <%= image_tag("logo_Evaluat3d.svg", :class => "logo_homepage")%>
  </div>

  <div class="container d-flex justify-content-center">
    <% if Move.where(user_id: current_user).count > 0 %>
      <%= link_to "JE DÉMÉNAGE !", moves_path, class: "btn btn-home" %>
    <% else %>
      <%= link_to "JE DÉMÉNAGE !", new_move_path, class: "btn btn-home" %>
    <% end %>
  </div>

  </div>
</div>
