<div class="homepage">

   <%= image_tag("logo_Evaluat3d.svg", :class => "logo_homepage")%>

  <%= link_to "je déménage !", new_move_path, class: "btn-mine" %>

  <h1>Test Heroku</h1>

  <p>Find me in app/views/pages/home.html.erb</p>

</div>
