// BUTTON HOMEPAGE
.btn-home {
  height: 15vh;
  left: 0px;
  top: 0px;
  margin-top: 15vh;

  background: rgba(167, 169, 190, 0.5);
  border-radius: 80px;

  font-family: 'Baloo Chettan 2', cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  line-height: 50px;
  text-align: center;
  color: #FFFFFF;
  display: flex;
    align-items: center;
    justify-content: center;
}

// BUTTON LOG IN VIEW
.btn-login {
    height: 12vh;
    width: 70vw;
    margin: 0 auto;
    margin-top: 5vh;
    margin-bottom: 5vh;
    background: rgba(167, 169, 190, 0.5);
    border-radius: 80px;
    font-family: 'Baloo Chettan 2', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 50px;
    text-align: center;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

// BUTTON MOVES VIEW
.btn-moves {
  width: 80%;
  background: rgba(167, 169, 190, 0.5);
  border-radius: 80px;
  font-family: 'Baloo Chettan 2', cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 3.90vh;
  text-align: center;
  color: #FFFFFF;
  margin-top: 2vh;
}

.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#167FFB, #0F60C4);
  transition: background 0.3s ease;
  border: 1px solid #0F60C4;
}

.btn-gradient:hover {
  background: linear-gradient(#147EFF, #0F67DA);
  color: white;
}


.btn-suivant {
  background: #FF8906;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 80px;
  color: white;
  font-family: 'Baloo Chettan 2', cursive;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 50px;
  text-align: center;
  max-width: 70%;
  max-height: 60%;
}

// FORM MOVE
.form-button {
  display: flex;
  justify-content: center;
  margin: 4vw;
}

.pro {
  background: #FF8906;
  color: white;
 }

 //
 .btn-secondary:hover {
  background-color: white;
  color: white;
}
