.container-stuffs, .container-rooms, .container-materiels {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
  margin: 2em;
}

.items-stuffs, .items-rooms, .items-materiels {
  flex-grow: 1;
  width: 50%;
  height: max-content;

  abbr{display:none;}
}

.container-stuffs label abbr{display:none;}
// scroll page details
.horizontal-scroll {
  display: flex;
  gap: 5px;
  height: fit-content;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  &__item {
    align-items: center;
    font-size: smaller;
    height: 100px;
    display: flex;
    flex: 0 0 100px;
    justify-content: center;
    scroll-snap-align: start;
  }
}
