

.items-rooms, .items-stuffs {
  abbr{display:none;}
}

.items-stuffs {
  font-size: 22px;
}

.container-stuffs label abbr{display:none;}

// scroll page details
.horizontal-scroll {
  display: flex;
  gap: 5px;
  height: 18vh;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  margin-left: 5vw;
  margin-right: 5vw;

  &::-webkit-scrollbar {
    display: none;
  }

  &__item {
    align-items: center;
    font-size: smaller;
    height: 100px;
    display: flex;
    flex: 0 0 100px;
    justify-content: center;
    scroll-snap-align: start;
  }
}

.card-room {
  background-color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  padding: 30px;
  margin: 0px auto;
  min-width: 350px;
  width: 80%;
  border-color: transparent;
  .card-room-title {
    color: #63320F;
  }
  .card-room-description {
    color: #9B6644;
    font-size: 3vh;
  }
  .card-room-trash {
    font-size: 2.5vh;
    color: #9B6644;
  }
}

.done {
  background-color: #F25F4C;
  color: white;
}

// PAGE DETAILS

.card-piece {
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 19px;
  width: 17vh;
  height: 16vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-name-piece {
  font-family: "Baloo Chettan 2", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: #63320F;
  margin: 0;
}

.card-name-cartons {
  width: 20vh;
  font-family: "Baloo Chettan 2", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 29px;
  text-align: center;
  margin: 0;
}


// FORMULAIRES CARD
.card-form {
  background-color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  padding: 30px;
  margin: 0px auto;
  min-width: 350px;
  width: 80%;
}

// CARD MOVES VIEW
.card-form-moves {
  background-color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  padding: 30px 30px 15px 30px;
  margin: 0px auto;
  min-width: 350px;
  width: 80%;
}

// CARD NEW MOVES
.card-form-new-move {
  background-color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  padding: 30px;
  margin: 0px auto;
  min-width: 335px;
  width: 80%;
  height: 73%;
}

.card-details {
  display: flex;
  justify-content: space-around;
}

//CONTAINER DE DETAILS CARTONS ET EFFECTIF
.container-details {
  position: relative;
  display: flex;
  justify-content: center;
}


.card-recap {
  border-radius: 15px;
  padding: 30px;
  margin: 0px auto;
  min-width: 350px;
  width: 80%;
}

.card-volume {
  background-color: white;
  border-color: transparent;
  color: black;
  margin-top: 2em;
}
