.container-materiels {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2em;
  color: #9B6644;
  border-bottom: 2px solid #9B6644;
  span {
    font-family: "Baloo Chettan 2";
    font-size: 30px;
    font-style: normal;
    line-height: 43px;
    letter-spacing: 0em;
    font-weight: 700;
    text-transform: uppercase;


  }
}

.items-rooms, .items-stuffs {
  abbr{display:none;}
}

.items-stuffs {
  font-size: 22px;
}

.container-stuffs label abbr{display:none;}
// scroll page details
.horizontal-scroll {
  display: flex;
  gap: 5px;
  height: fit-content;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  &__item {
    align-items: center;
    font-size: smaller;
    height: 100px;
    display: flex;
    flex: 0 0 100px;
    justify-content: center;
    scroll-snap-align: start;
  }
}

// .card-room {
//   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
//   background-color: white;
//   border-color: transparent;
//   color: #9B6644;
//   margin-top: 2em;
// }

.card-room {
  background-color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  padding: 30px;
  margin: 0px auto;
  min-width: 350px;
  width: 80%;
  border-color: transparent;
  .card-room-title {
    color: #63320F;
  }
  .card-room-description {
    color: #9B6644;
    font-size: 3vh;
  }
  .card-room-trash {
    font-size: 2.5vh;
    color: #9B6644;
  }
}

.done {
  background-color: #F25F4C;
  color: white;
}


// FORMULAIRES CARD
.card-form {
  background-color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  padding: 30px;
  margin: 0px auto;
  min-width: 350px;
  width: 80%;
}


//CONTAINER DE DETAILS CARTONS ET EFFECTIF
.container-details {
  position: relative;
  display: flex;
  justify-content: center;
}


.card-recap {
  border-radius: 15px;
  padding: 30px;
  margin: 0px auto;
  min-width: 350px;
  width: 80%;
}

.card-volume {
  background-color: white;
  border-color: transparent;
  color: black;
  margin-top: 2em;
}
