// .navbar-lewagon {
//   justify-content: space-between;
//   background: rgb(255, 255, 255);
// }

// .navbar-lewagon .navbar-collapse {
//   flex-grow: 0;
// }

// .navbar-lewagon .navbar-brand img {
//   width: 40px;
// }
.navbar-demenagement {
  z-index: 500;
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 1rem 1rem;
  position: relative;
}
