// Evaluat3d Stylesheet Application
@import "config/my_config";

// // Graphical variables
// @import "config/fonts";
// @import "config/colors";
// @import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "components/button";


body {
  overflow-x: hidden;
}

// CONTAINER APPLICATION

.my-layout-container {
  display: flex;
  justify-content: center;
  // width: 100%;
  margin: 0 auto;
  max-width: 1366px;
}

// BACKGROUND IMAGE ROND TOP
.background-top {
   width: 100vw;
    object-fit: cover;
    z-index: 0;
    position: absolute;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    align-self: center;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }

.container-image-centered {
  display: flex;
  justify-content: center;
}

// BACKGROUND IMAGE COVER
.full-background  {
    object-fit: cover;
    width: 100vw;
    // height: 100vh;
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

// BACKGROUND IMAGE VIEW CONTACT
.full-background-contact  {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.front-content {
  z-index: 3;
  position: absolute;
  word-wrap: break-word;
  &.form-new-moves {
    margin-top: 3vh;
  }
}

.front-content-rooms {
  z-index: 3;
  position: absolute;
  word-wrap: break-word;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


// BACKGROUND IMAGE FULL

.container-image-background-full {
  height: 100vh;
  background-image: url(/assets/Background_full.svg);
}


// TEXT TOP PAGES
.text-pages-top {
  z-index: 500;
  position: relative;
  margin-top: 2vh;
  margin-bottom: 5vh;
  text-align: center;
}

// TEXT TOP DEMENAGEMENTS
.text-demenagements-top {
  z-index: 500;
  position: relative;
  margin-top: 2vh;
  margin-bottom: 5vh;
  text-align: center;
}

.title-white {
  color: white;
  font-weight: bold;
  font-size: 2rem;
}

.text-volume-size {
  font-size: 60px;
}

// FORM LOG IN

.form-control {
  &.optional {
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    padding: 30px;
    margin: 0px auto;
  }
  &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #63320F;
    opacity: 1; /* Firefox */
    width: 45vw;
  }
}

.my-label-form {
  color: white;
  font-family: "Baloo Chettan 2", cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 3vh;
}

// VIEW NEW MOVE FRONT

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: red;
  opacity: 1; /* Firefox */
}

// VIEW MOVES FRONT
.move-depart {
  color: #63320F;
  font-weight: bold;
}

.move-arrivee{
  color: #9B6644;
}

.move-details {
  width: 30vw;;
}

.move-links {
  display: flex;
  justify-content: center;
  width: 100vw;
}

.move-links-front {
  font-family: "Baloo Chettan 2", cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 110%;
  padding: 0 2%;
  a {
    color: white;
  }
}

.vl {
  border-left: 1px solid #63320F;
  height: 10vh;
}

// VIEW ADD STUFF

.title-order {
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
}

// VIEW RECAP
.move-prices {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

// VIEW DETAILS

.container-scroll {
  width: 100vw;
  margin: 0 auto;
}

.details-moves {
  text-align: center;
  width: 95vw;
  margin: 0 auto;
}

.container-carton-details {
  display: flex;
    justify-content: center;
    align-items: center;
  margin: 5vh 0 0vh 0;
  height: 20vh;
}

// Definition du style du nombre total de carton dans pages detail
//, .style-effectif, .style-pizza, .style-biere . style-transport
.container-icons-details {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 5vh;
  h3 {
    font-weight: bold;
  }
}

.container-materiels {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2em;
  color: #9B6644;
  border-bottom: 2px solid #9B6644;
  span {
    font-family: "Baloo Chettan 2";
    font-size: 20px;
    font-style: normal;
    line-height: 43px;
    letter-spacing: 0em;
    font-weight: 700;
    text-transform: uppercase;
  }
}

.items-materiels {
  text-align: left;
}

.style-carton {
  left: 20vw;
  font-family: 'Baloo Chettan', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 100px;
  line-height: 144px;
  text-align: center;
  color: #F25F4C;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: absolute;
  z-index: 500;
}

.style-icons {
  font-family: 'Baloo Chettan', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 61px;
  line-height: 144px;
  text-align: center;
  color: #9b6644;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 500;
  margin-right: 5vw;
}

.style-transport {
  font-weight: bold;
}

.square {
  width: 50%;
  display: flex;
    align-items: center;
    justify-content: center;
}

.square-transport {
  width: 50%;
  margin: 0 0 5vw 0;
  display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

// PAGE FIND MOVER
.front {
  z-index: 3;
  text-align: center;
}

.find-mover h1, .find-mover h2, .find-mover h3,.find-mover h4 {
  color: white;
  font-weight: 400;
  font-family: "Baloo Chettan 2", sans-serif;
  font-style: normal;
}

.find-mover {

  h1 {
    font-size: 58px;
    line-height: 30px;
    padding-top: 3rem;
    font-weight: bold;
  }

  h2, h3 {
    font-size: 35px;
    line-height: 50px;
  }

  h3 {
    padding-top: 1rem;
  }

  h4 {
    font-size: 22px;
    line-height: 32px;
  }

}

.logo-find-mover {
  width: 50vw;
}

// Page show move
.hidden {
  display: none;
}

li {
  list-style: none;
  font-family: "Baloo Chettan 2", sans-serif;
  color: #63320F;
  margin: 10px 0;
  text-justify: auto !important;
}
.container-show {
  width: 90%;
  margin: 0 auto;
  ul {
    margin-top: 2vh;
    list-style: none;
    li {
      color: #63320F;
      margin: 10px 0;
      text-justify: auto !important;
    }
  }
}

#instructions {
  margin-top: 2vh;
  p {
   color: #63320F;
   font-weight: bolder;
   margin-bottom: 0vh;
  }

  .faux-lien {
    color: #9B6644;
    font-weight: normal;
    text-decoration: underline;
  }
}

.show-title {
  text-transform: uppercase;
  font-size: 2.5rem;
  max-width: 80%;
  margin: 0 auto;
}

.details-show {
  padding-top: 4rem;
}

//Media queries

/* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
@media (min-width:320px)  {

}

/* smartphones, Android phones, landscape iPhone */
@media (min-width:375px)  {

}

/* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
@media (min-width:414px)  {

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

}

// Medium devices (tablets, 768px and up)
@media (min-width: 1024px) {

}

// Desktop (tablets, 768px and up)
@media (min-width: 1928px) {

}
