// Evaluat3d Stylesheet Application
@import "config/my_config";

// // Graphical variables
// @import "config/fonts";
// @import "config/colors";
// @import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "components/button";


body {
  overflow-x: hidden;
}

// CONTAINER APPLICATION

.my-layout-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  max-width: 1366px;
}

// BACKGROUND IMAGE ROND TOP
.background-top {
    align-self: center;
    width: 120%;
    -o-object-fit: cover;
    object-fit: cover;
    height: 60%;
    z-index: 0;
    position: absolute;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
    align-self: center;
  }

.container-image-centered {
  display: flex;
  justify-content: center;
}

// BACKGROUND IMAGE COVER
.full-background  {
    object-fit: cover;
    width: 100vw;
    // height: 100vh;
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}


.front-content {
  z-index: 3;
  position: absolute;
  word-wrap: break-word;
  &.form-new-moves {
    margin-top: 3vh;
  }
}

.front-content-rooms {
  z-index: 3;
  position: absolute;
  word-wrap: break-word;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

// Definition du style du nombre total de carton dans pages detail
.style-carton, .style-effectif, .style-pizza, .style-biere {
  font-family: "Baloo Chettan 2", cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  /* line-height: 144px; */
  text-align: center;
  color: #F25F4C;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

// BACKGROUND IMAGE FULL

.container-image-background-full {
  height: 100vh;
  background-image: url(/assets/Background_full.svg);
}


// TEXT TOP PAGES
.text-pages-top {
  z-index: 500;
  position: relative;
  margin-top: 2vh;
  margin-bottom: 5vh;
  text-align: center;
}

// TEXT TOP DEMENAGEMENTS
.text-demenagements-top {
  z-index: 500;
  position: relative;
  margin-top: 3vh;
  margin-bottom: 5vh;
  text-align: center;
}

.title-white {
  color: white;
  font-weight: bold;
}

.text-volume-size {
  font-size: 60px;
}

// FORM LOG IN

.form-control {
   &.optional {
     background-color: white;
     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
     border-radius: 15px;
     padding: 30px;
     margin: 0px auto;
   }
}

.my-label-form {
  color: white;
  font-family: "Baloo Chettan 2", cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 3vh;
}



//Media queries

/* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
@media (min-width:320px)  {

}

/* smartphones, Android phones, landscape iPhone */
@media (min-width:375px)  {

}

/* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
@media (min-width:414px)  {

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

}

// Medium devices (tablets, 768px and up)
@media (min-width: 1024px) {

}

// Desktop (tablets, 768px and up)
@media (min-width: 1928px) {

}
